
body{
	background:#DAF7A6;
}

*{
	margin: 0;
	padding: 0;
}

.container{
	background-color: black;
	width:300px;
	height:300px;
	margin: auto;
	margin-top: 150px;
}

input[type='text'] {
	width: 280px;
	height: 40px;
	margin-left: 7px;
	margin-top: 10px;
	border-style: solid;
	font-size: 25px;
	background-color: white;
	color: black;
	text-align: right;
}

#fresh{
	width: 85px;
	margin-left: 18px;
	font-size: 17px;
	background-color: #1BD599;
	border-color: black;
}

#fresh:hover{
	background-color: #29A386;
}

input[type="button"] {
	width: 50px;
	height: 30px;
	margin-left: 17.5px;
	margin-bottom: 15px;
	font-size: 20px;
	cursor: pointer;
	border-color: black;
}

input[type="button"]:hover{
	background-color: #9FA4A6;
}

#key{
	width: 50px;
	margin-left: 125px;
	font-size: 17px;
	background-color: #1BD599;
	border-color: black;
}

#key:hover{
	background-color: #29A386;
}
